.lobby {
  display: flex;
  flex-flow: row wrap;

  app-game-thumb {
    margin: 1rem .5rem;
    width: calc(20% - 1rem);
  }

  @media screen and (max-width: 992px) {
    app-game-thumb {
      width: calc(50% - 1rem);
    }
  }

  @media screen and (max-width: 600px) {
    app-game-thumb {
      width: 70%;
      margin: 1rem auto;
    }
  }

  span {
    margin: 1rem auto;
    color: white;
  }
}
