.lobby {
  display: flex;
  flex-flow: row wrap;

  app-game-thumb {
    width: calc(20% - 1rem);
    margin: 1rem .5rem;
  }

  @media screen and (max-width: 992px) {
    app-game-thumb {
      width: calc(50% - 1rem);
    }
  }

  @media screen and (max-width: 600px) {
    app-game-thumb {
      width: 70%;
    }
  }
}
