.lobby {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  app-game-thumb {
    width: 19%;
    margin-top: 1rem;
  }

  @media screen and (max-width: 992px) {
    app-game-thumb {
      width: 40%;
    }
  }

  @media screen and (max-width: 600px) {
    app-game-thumb {
      width: 70%;
    }
  }
}
