@import 'variables';

.nav-bar {
  height: $header-height;
  background: $header-background;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  .menu,
  .profile {
    font-size: $header-height - 1rem;
    margin: .5rem;
    color: $header-title-color;
  }
}

