@import 'variables';

.nav-bar {
  background: $header-background;
  display: flex;
  flex-direction: row;
  height: $header-height;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  .menu,
  .search {
    color: $header-title-color;
    font-size: $header-height - 1rem;
    margin: .5rem;
  }
}

