
@import 'variables';
:host {
  width: 100%;
}

.home-lobby {
  width: 90%;
  margin: 2rem auto;

  .title {
    color: $white;
    font-size: $font-large;
    margin-bottom: 1rem;

    .link {
      font-size: $font-small;
      color: $primary-contrast;
    }
  }
}