@import 'variables';

@for $i from 1 through length($all-palette-colors) {
  .square-#{$i} {
    background: nth($all-palette-colors, $i);
    color: $gray;
    cursor: pointer;
    height: $item-height;
    line-height: $item-height;
    text-align: center;
    vertical-align: middle;
    width: 15rem;
  }
}

.scene {
  height: 100%;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: $item-height;
  z-index: 999;
}
