@import 'variables';

.thumb {
  background: $thumb-button-color;
  border-color: $white;
  box-shadow: $thumb-shadow;
  height: 100%;
  overflow: hidden;

  &-button {
    background-color: $thumb-button-color;
    color: $white;
    cursor: pointer;
    display: block;
    height: $thumb-info-height;
    line-height: $thumb-info-height;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
  }
}
