@import 'variables';
  $thumb-shadow: 0px 10px 35px 0px rgba(0, 0, 0, .2);

  .thumb {
    box-shadow: $thumb-shadow;
    overflow: hidden;
    background: #251533;
    border-color: $white;


    &-button {
      background-color: #251533;
      color: $white;
      display: block;
      width: 100%;
      text-align: center;
      height: 3rem;
      line-height: 3rem;
      text-decoration:none
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }