@import 'variables';

body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  background-color: #3f3952;
}

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}