@import 'variables';

body {
  background-color: #3f3952;
  font-family: 'Roboto';
  font-weight: 400;
  margin: 0;
}

// fade
.fade-enter,
.fade {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.fade-enter {
  -webkit-animation-name: fadeRight;
  animation-name: fadeRight;
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
}


@-webkit-keyframes fade {
  from {
    -webkit-transform: translate3d(20px, 0, 0);
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@-webkit-keyframes fadeRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fadeRight {
  from {
    -webkit-transform: translate3d(20px, 0, 0);
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
