// Colors
$primary: #965e98;
$primary-contrast: #f4c258;
$primary-dark: #251533;
$black: #000;
$white: #fff;
$gray: #f5f5f5;
$all-palette-colors: #5d7ea4, #965e98, #f79c91, #b0d66d, #f4c258, #71a7d6, #d671a7, #71d6a0;

// Lateral menu
$item-height: 3rem;

// Typography
$font-large: 2rem;
$font-small: 1rem;

// Header
$header-height: 3rem;
$header-background: rgba($primary-dark, .4);;
$header-title-color: $white;
$header-title-size: $font-large;

// Thumb
$thumb-shadow: 0 10px 35px 0 rgba(0, 0, 0, .2);
$thumb-button-color: $primary-dark;
$thumb-info-height: 3rem;
