$primary: #965E98;
$primary-contrast: #F4C258;

$black: #000;
$white: #fff;

/*
    Lateral menu
*/
$item-height: 3rem;
$lateral-menu-colors: #5D7EA4, #965E98, #F79C91, #B0D66D, #F4C258, #71A7D6, #D671A7, #71D6A0, #5D7EA4, #965E98, #F79C91, #B0D66D, #F4C258, #71A7D6, #D671A7, #71D6A0;

/*
    Typography
*/
$font-large: 2rem;

/*
    Header
*/
$header-height: 3rem;
$header-background: rgba(#000, .4);;
$header-title-color: $white;
$header-title-size: $font-large;



