<div class="banner"></div>
<div class="container">
  <input type="text" placeholder="search" #searchInput autocomplete="off"/>
  <div>
    <span
      (click)="changeSelectedCategories(category)"
      class="category"
      [ngClass]="'category-' + ((i % 7) + 2)"
      [class.selected]="selectedCategories.includes(category)"
      *ngFor="let category of categories$ | async; let i = index"
    >{{ category.title }}
      <span class="close">x</span>
    </span>
  </div>
  <app-game-lobby [games]="filteredGames$ | async"></app-game-lobby>
</div>