@import 'variables';

input {
  border: 1px solid $gray;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

.container {
  margin: auto;
  width: 90%;
}

.category {
  border: 0;
  border-radius: 16px;
  color: $black;
  cursor: pointer;
  display: inline-block;
  margin: 4px 2px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

@for $i from 1 through length($all-palette-colors) {
  .category-#{$i} {
    background: nth($all-palette-colors, $i);
    color: $gray;
    cursor: pointer;
    display: inline-block;
    margin: .5rem;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    &.selected {
      background: darken(nth($all-palette-colors, $i), 40%);

      .close {
        display: inherit;
        margin-left: .5rem;
      }
    }

    .close {
      display: none;
    }
  }
}

.banner {
  align-items: center;
  background-attachment: fixed;
  background-image: url('/assets/images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 20vh;
  opacity: inherit;
}
