@import 'keyframes';
@import 'variables';

.banner {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: inherit;
  display: flex;
  align-items: center;
  background-image: url("/assets/images/banner.jpg");
  height: 30vh;

  &.bottom {
    clip-path: polygon(100% 0%, 100% 40vh, 0% 100%, 0% 15vh);
  }

  .home-banner-content {
    width: 60%;
    margin: auto;

    h1,
    h2 {
      color: white;
      text-align: center;
      text-shadow: 2px 2px $black;
    }
  }
}
